@model IEnumerable<COMP003B.Week7Assignment.Models.Actor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.actorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rolePlayed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.actorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rolePlayed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.actorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.actorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.actorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
